If:
    PathMatch: libraries/cieutils/.*

CompileFlags:
    CompilationDatabase: libraries/cieutils/build
    Add: [-std=c++20]

---

If:
    PathMatch: libraries/linalg/.*

CompileFlags:
    CompilationDatabase: libraries/linalg/build
    Add: [-std=c++20]

---

If:
    PathMatch: libraries/geo/.*

CompileFlags:
    CompilationDatabase: libraries/geo/build
    Add: [-std=c++20]

---

If:
    PathMatch: libraries/fem/.*

CompileFlags:
    CompilationDatabase: libraries/fem/build
    Add: [-std=c++20]

---

If:
    PathMatch: ibraries/ciegl/.*

CompileFlags:
    CompilationDatabase: libraries/ciegl/build
    Add: [-std=c++20]
